



.container {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

p.bio {
    text-align: center;
    font-size: 20px;

}

hr {
    width: 100px;
    height: 2px;
    background-color: #2199e8;
    margin-bottom: 50px;
    margin-top: 10px;
}

img.logo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);

}

h1.name {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
span.slogan {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(51, 51, 51, 0.7);
    margin-bottom: 35px;
}

.social-img ul {
    margin: 0;
    text-align: center;
    width: 100;
    margin-bottom: 50px;

}

.social-img ul li {
    display: inline;
    background: rgba(204, 204, 204, 0.5);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 150ms ease-in-out;
}
.social-img ul li:hover {
    background: #ccc;

}

h5 {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 50px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.work {
    margin-bottom: 20px;
    width: 100%;
}

.footer {
    text-align: center;
    padding: 20px 0;
    color: rgba(51, 51, 51, 0.5);
}


.foot{
    width: auto;
    height: 90px;
    background: pink;
    
    
   
} 

.iconfoot {
    display: flex;
    height: 100%;
    align-items: center;
    width: 90%;
    justify-content: end;
    color: black;
    font-weight: bold;
   
}

.email {
    width: 35px;
    margin: 10px;
    
}

.tel {
    width: 35px;
    margin-left: 100px;
}

p.bio {
    align-self: center;
    
}



.banner {
    display: flex;
    background: url(img/รับวุฒ.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 53em;
    align-items: flex-end;
    max-width: 100%;
    object-fit: cover;
    
}








* a {
  text-decoration: none;
}
* li {
    list-style: none;
}

.container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
  }
  .bg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .navBar {
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    height: 15vh;
  }
  .navBar ul {
    display: flex;
    align-items: center;
  }
  .navBar ul li {
    padding: 0 25px;
  }
  .navBar ul li a {
    font-size: 20px;
    color: black;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .navBar .to a {
    font-size: 2.3rem;
    color: black;
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }
    
html {
    scroll-behavior: smooth;
}  
